[Desktop Entry]
Version=1.0
Comment=SCM Workbench
Type=Application
Name=SCM Workbench
Exec=/usr/bin/scm-workbench
Icon=/usr/share/scm-workbench/lib/scm-workbench.png
Categories=Development;
