#
#   SCM Workbench requirements for macOS
#
#   pip3 install --requirement requirements.txt
#

# build tools
py2app>=0.11
pyinstaller
dmgbuild
pyobjc-framework-Quartz
mypy
colour-text

# get pysvn from https://sourceforge.net/projects/pysvn/
# pysvn>1.9.3 with svn >1.9 support

GitPython>=2.1.8
python-hglib>=2.2
PyQt5>=5.12.2
QScintilla>=2.11.1
pytz>=2016.7
tzlocal>=1.2.2
xml-preferences>=1.1.2
